{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowBank - Bem Vindo!</title>
    <link rel="stylesheet" href="{% static 'css/styles_home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Main Image Rectangle -->
        <div class="image-rectangle">
            <img src="media/login-image.png" alt="FlowBank">
        </div>
        
        <!-- Login Button (agora é um link para a view de login) -->
        <a href="{% url 'users:login' %}" class="login-button">
            <span class="entrar-text">Login</span>
        </a>
        
        <!-- Register Link -->
        <a href="{% url 'users:register' %}" class="register-link">Cadastre-se</a>
    </div>
</body>
</html>

